.upload-btn{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: white !important;
    border: dashed 1px #ccc !important;
    background: center center no-repeat;
    background-size: 14px 14px;


}
.upload-btn> input{
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}